<<<<<<< HEAD


table th{
    text-align: left;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding-right:20px;
    padding-left:20px;
}
.clickable {
    background: rgba(255, 255, 255, 0.7);
}
.clickable:hover{
    background: rgb(255,255,255, 1);
    cursor: pointer;
}
.detail div{
    background-color:rgba(255, 255, 255, 0.8);
    padding:.5%;
}
table {
    width: 100%;
    padding-left: 5%;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
h2 {
  text-align: center;
  font-style: bold;
  font-size: 35px;
  font-family: "Arial Black", Gadget, sans-serif;
}
.container {
    border-bottom: solid 1.5px;
    padding-bottom: 25px;
    padding-top: 10px;
}
/*
https://stackoverflow.com/questions/11323813/how-to-outline-text-in-html-css#17205396
*/
.text_shadow {
  color: black;
  text-shadow:
  -1px -1px 0 #FFF,
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;
}

a {
    text-align: center;
    background-color: black;
  box-shadow: 0 5px gray;
  color: white;
  padding: 0.5em 0.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: darkslategrey;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}

=======


table th{
    text-align: left;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding-right:20px;
    padding-left:20px;
    border-spacing: 0px 2px;
}
.clickable {
    background: rgba(255, 255, 255, 0.7);
}
.clickable:hover{
    background: rgb(255,255,255, 1);
    cursor: pointer;
}
.detail div{
    background-color:rgba(255, 255, 255, 0.8);
    padding:.5%;
}
table {
    width: 100%;
    padding-left: 5%;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-spacing: 0px 2px;
}
h2 {
  text-align: center;
  font-style: bold;
  font-size: 35px;
  font-family: "Arial Black", Gadget, sans-serif;
}
.container {
    border-bottom: solid 1.5px;
    padding-bottom: 25px;
    padding-top: 10px;
}
/*
https://stackoverflow.com/questions/11323813/how-to-outline-text-in-html-css#17205396
*/
.text_shadow {
  color: black;
  text-shadow:
  -1px -1px 0 #FFF,
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;
}

a {
    text-align: center;
    background-color: black;
  box-shadow: 0 5px gray;
  color: white;
  padding: 0.5em 0.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: darkslategrey;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}

>>>>>>> f2642fadbef80a8186c66fc2433ff66b8130f607
