<div [hidden]="attributes.num_results==0">
        <div class='height-fix'>
            <div>
          <router-outlet></router-outlet>
            </div>
          </div>
        <h2 class="myheaders">Top {{attributes.num_results}} Stories on NYT</h2>
          <div class="container-fluid">
        <table class='table-responsive table'>
          <thead>
            <th></th>
            <th>Article</th>
            <th>Author</th>
        </thead>
        <tbody>
        <ng-template ngFor let-article [ngForOf]="articles" let-index="index">
        <tr  (click)='showDetail(index,article)' class="clickable" >
          <!--<td>{{index+1}}</td>-->
          <td *ngIf="article.multimedia.length">
            <img src='{{article.multimedia[0].url}}' class="img-responsive" style="width: 6vw; display: block; margin-left: auto; margin-right: auto;">
          </td>
          <td *ngIf="article.multimedia.length == 0">
          </td>
          <td class="text_shadow">{{article.title}}</td>
          <td>{{article.byline}}</td>
        </tr>
        <tr>
          <td colspan=3 class='detail' [hidden]='index!=selectedArt'>
            <div class="container-fluid">
              <div class="col-md-4">
              <h2>{{article.title}}</h2>
              <h4>{{article.byline}}</h4>
              <h4>{{article.abstract}}</h4>
              <h4> Published: {{dateSplit(article.published_date)}}</h4>
              <h4><a href='{{article.short_url}}' target='_new'>New York Times Full Article</a></h4>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
    </table>
      <br/>&nbsp;
    </div>
      </div>
