<!--The content below is only a placeholder and can be replaced.-->
<body>
<nav class="navbar-wrapper navbar-default navbar-fixed-top navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <div class="navbar-brand" routerLinkActive='active'>
          <div href="/home" routerLink="/home">Home</div>
      </div>
      <div class="tech-nav" routerLinkActive='active'>
          <div href="/tech" routerLink="/tech">Tech</div>
      </div>
        <div class="science-nav" routerLinkActive='active'>
          <div href="/science" routerLink="/science">Science</div>
        </div>
    </div>
  </div>
</nav>
<div class='height-fix'>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<div style="text-align:center" class="jumbotron">
  <h4>Data provided by New York Times</h4>
</div>
</body>
